/*CSS dokument*/

/* selektorn * formaterar alla element på sidan */
{
  margin: 0;
}

/*formatering för html och body elementen*/
html, body {
  height: 100%;
}

/*formatering för sidans body element = bakgrundsfärg*/
body {
  background-color: #FFBABB;
}
form {
  float: right;
  margin-bottom: 0px;
}
/*formatering för textstycken*/
p {
  font-family: Calibri, Verdana, Arial, sans-serif;

  padding: 0 0 10px 0;
}

/*formatering för rubrik h1*/
h1 {
  font-family: Cambria, Calibri, Verdana, Arial, sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

/*formatering för textlänkar*/
a {
  font-family: Calibri, Verdana, Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

/*formatering för textlänkar när användaren för pekaren över texten*/
a:hover {
  color: #FF0066;
}
section{
  display: contents;
}
/* formatering för första textstyckets första bokstav i section-elementet*/
section > p:first-of-type::first-Letter {
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: 2px;
}

/*formatering för behållare som innehåller alla sidans element*/
.wrapper {
  width:1010px;
  min-height: 100%;
  padding: 0px;
  margin: auto;
  background-color: #FFDBDB;
  color: #000000;
  border-left: 1px solid #FFBABB;
  border-right: 1px solid #FFBABB;
  display: flow-root;
}

/*formatering för klassen 'header' - sidhuvud*/
.header {
  width: 1000px;
  padding: 0px 0 20px 0;
  margin: auto;
  margin-bottom: 8%;
  background-color: #F6F9F);
  color: #000000;
}

/*formatering för huvudmeny och textlänkarna*/
.mainmenu {
  width: 1000px;
  padding: 5px;
  margin: auto;
  background-image: radial-gradient(#FFFCFC,#FFBABA);
  color: #000000;
}

.mainmenu ul {
  list-style: none;
}

.mainmenu li {
  display: inline;
}

.mainmenu a {
  padding-left: 8px;
  padding-right: 8px;
  font-family: Cambria, Calibri, Verdana, Arial, sans-serif;
  font-size: 18px;
  color: #2D003A;
}

.mainmenu a:hover {
  color: #FFFCFC;
}

/*formatering för 2 kolumn layout*/
.wrapper_2col {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0px;
  background-color: #FFDBDB;
  color: #000000;
  margin: 30px 10px;
  display: flex;
}

.rightcoltwo p, .leftcoltwo p{
  display: flex;
  vertical-align: bottom;
}

/*formatering för vänster kolumn*/
.leftcol {
  width: 300px;
  background-color: #FFDBDB;
  padding: 20px 10px 10px 10px;
  float: left;
  position: relative;
}
.leftcoltwo{
  width: auto;
  background-color: #FFDBDB;
  padding: 20px 10px 10px 10px;
  float: left;
  position: relative;
  display: contents;
}

/*formatering för mellersta kolumn*/
.middlecol {
  width: 350px;
  border: 1px #FFDBDB;
  border-right-style: solid;
  border-left-style: solid;
  padding: 20px 10px 10px 10px;
  margin: 0px;
  background-color: #FFDBDB;
  color: #000000;
  float: left;
  position: relative;
}

.middlecol img {
  position: relative;
  padding: 30px 0 30px 0;
  margin-top: 60px;
}

.center {
  text-align: center;
}

/*formatering för höger kolumn*/
.rightcol {
  float: right;
  width: 300px;
  background-color: #FFDBDB;
  padding: 20px 5px 10px 5px;
}

.rightcoltwo{
  float: right;
  width: 300px;
  background-color: #FFDBDB;
  padding: 20px 5px 10px 5px;
  display: contents;
}

.piano{
  display: flex;
}

/*formatering för sidfot*/
.footer {
  width: 1000px;
  padding: 5px;
  margin: 0px;
  background-color: #FFFCFC;
  color: #000000;
  text-align: center;
}

/*formatering för sidfot och klassen push som trycker ner sidfoten på sidan*/
.footer, .push {
  height: 4em;
  clear: both;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 60px;
}

td, th {
  border: 1px solid #FFBABB;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFFCFC;
}
.login {
  width: 200px;
  height: 120px;
  margin-right: 30px;
  margin-top: 30px;
  padding: 30px 10px 10px 40px;
  border-radius: 15px;
  background-color: #FFBABB;
}
.lista {
  margin-right: auto;
}
